# SVM classifier

<hr>

In [1]:
#importing libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
plt.rcParams["figure.figsize"] = (16,8)

In [2]:
# Importing the dataset
dataset=pd.read_csv('Social_Network_Ads.csv')
dataset.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [3]:
X = dataset[['Gender','Age','EstimatedSalary']]
y = dataset['Purchased']

In [4]:
# Fixing Categorial data Gender
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder

ct = ColumnTransformer([("Gender",OneHotEncoder(), [0])],remainder='passthrough')
X = ct.fit_transform(X)
X = X[:,1:] # To avoid dummy variable trap
pd.DataFrame(X).head()

     0     1        2
0  1.0  19.0  19000.0
1  1.0  35.0  20000.0
2  0.0  26.0  43000.0
3  0.0  27.0  57000.0
4  1.0  19.0  76000.0

In [5]:
# Splitting the data
from sklearn.model_selection import train_test_split as TTS

X_train, X_test, y_train, y_test = TTS(X,y,random_state=0,test_size=1/4)

In [6]:
# Scaling the data
from sklearn.preprocessing import StandardScaler
sc_X = StandardScaler()
X_train = sc_X.fit_transform(X_train)
X_test = sc_X.transform(X_test)

In [7]:
# Training the model
from sklearn.svm import SVC

classifier = SVC(random_state=0, kernel='linear')
classifier.fit(X_train,y_train);

In [8]:
# Predicting the result

y_pred = classifier.predict(X_test)
y_pred

array([0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1,
       0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       1, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1,
       0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1,
       1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1], dtype=int64)

In [13]:
# Making the confusin matrix
from sklearn.metrics import confusion_matrix

cm = confusion_matrix(y_test,y_pred)
cm

array([[64,  4],
       [ 3, 29]], dtype=int64)